@import '../../assets/styles/variables.scss';

.warning {
  background-color: #ffffff;
  box-shadow: 0 0 34px 0 rgba(75, 32, 126, 0.36);
  margin-top: 20px;
  max-height: 100px;
  padding: 16px;
  color: #fe5e5e;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
