@import '../../../../assets/styles/variables.scss';

.search-form-wrapper {
  background: url('../../../../assets/images/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 600px;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  transition: all .3s ease;
}

.inner-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  img {
    height: 228px;
    margin-top: -1px;
    transition: all .4s ease-in-out;
    @media (max-width: 768px) {
      height: 150px;
    }
  }
}

.info {
  color: #fff;
  opacity: 1;
  transition: opacity .6s ease-in-out;
  @media(max-width: 768px) {
    padding: 0 10px;
    text-align: center;
  }

  h1 {
    margin: 24px 0 16px;
    font-size: 56px;
    font-family: $font-thin;
    @media(max-width: 468px) {
      font-size: 32px;
    }
  }

  p {
    text-align: center;
    font-size: 16px;
    font-family: $font-light;
  }
}

.search-form {
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: all .3s ease-in-out;
  @media(max-width: 468px) {
    margin-top: 35px;
    display: block;
    max-width: 400px;
  }

  button {
    @media(max-width: 468px) {
      width: 50%;
    }
    img {
      width: 56px;
    }
  }

  .input-wrapper {
    @media(max-width: 468px) {
      margin-bottom: 10px;
      input {
        width: 100%;
      }
    }
  }

  .button-wrapper,
  .input-wrapper {
    padding: 0 8px;
  }

  .search-text {
    flex-basis: 285px;
    flex-grow: 1;
  }

  .search-city {
    flex-basis: 156px;
  }

  .button-wrapper {
    flex-basis: 80px;
  }
}

.search-form-wrapper.submitted {
  min-height: 150px;

  .inner-wrapper {
    max-width: initial;
    flex-direction: row;
    max-width: 920px;
    align-items: flex-start;
    @media(max-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  .logo {
    img {
      height: 124px;
    }
  }

  .info {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .search-form {
    margin: 52px 0;
  }
}